.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Website CSS */
.services {
  text-align: center;
}

.servicesList {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.logo {
  height: 139px !important;
  width: 250px !important;
}

.logo-bg {
  height: 164px !important;
  width: 250px !important;
  border-bottom-right-radius: 10px;
}

#scrollspyHome {
  height: 530px;
}

.hours {
  text-align: center;
}

.carousel-inner.work {
  height: 500px;
  width: 100%;
  .carousel-item.work {
  width: 100%;
  object-fit: cover;
  }
}
